<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">
    <!-- The default flavor is the F-Droid/offline build. Optional camera
         companion services from the upstream project are not packaged here. -->
    <uses-feature
            android:name="android.hardware.camera"
            android:required="false"
            tools:replace="android:required" />
</manifest>
